<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="author" content="17-3110-AA" />
    <!-- css import -->
    <link rel="stylesheet" href="{{ css_path }}" type="text/css"/>
    <!-- js imports -->
    <script src="{{ js_path }}"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.js"
            integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/1fdc368cde.js"></script>
    <title>{% block title %}{{page_title}}{% endblock %}</title>
</head>
