  <!-- banner -->
  <div class="section-wrapper">
    <section class="block">
      <div class="jumbotron mb0">
        <div class="container">
          <h1>Register | Here</h1>
          <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <p><a href="{{ register }}" class="btn btn-primary btn-lg" role="button">Click Here to Register</a></p>
        </div>
      </div>
    </section>
  </div>
  <!-- banner end -->
  <!-- steps -->
  <div class="section-wrapper">
    <section class="block section-overlay section-padding">
      <div class="container">
        <div class="section-title center mb-medium text-center">
          <h2 class="mb-small">Quick Start | <strong>Guide</strong></h2>
          <p>Welcome to our web application please follow our 6 step quick start guide to get up and running as smooth as possible. If you need any assistance using the site please <a href="index.html#contact">Contact us</a> and some one will be able to assist you.</p>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 mb-small">
            <div class="card-item">
              <i class="large-icon process-counter"></i>
              <h4><strong>Register</strong></h4>
              <p>Bacon ipsum dolor amet venison tenderloin pork loin porchetta, turducken t-bone frankfurter kevin pork chop drumstick. Chuck filet mignon tail meatball jerky boudin. Beef fatback biltong spare ribs ham swine tri-tip cow strip steak sausage chuck filet mignon pastrami.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-small">
            <div class="card-item">
              <i class="large-icon process-counter"></i>
              <h4><strong>Log-in</strong></h4>
              <p>Bacon ipsum dolor amet venison tenderloin pork loin porchetta, turducken t-bone frankfurter kevin pork chop drumstick. Chuck filet mignon tail meatball jerky boudin. Beef fatback biltong spare ribs ham swine tri-tip cow strip steak sausage chuck filet mignon pastrami.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-small">
            <div class="card-item">
              <i class="large-icon process-counter"></i>
              <h4><strong>Send</strong></h4>
              <p>Bacon ipsum dolor amet venison tenderloin pork loin porchetta, turducken t-bone frankfurter kevin pork chop drumstick. Chuck filet mignon tail meatball jerky boudin. Beef fatback biltong spare ribs ham swine tri-tip cow strip steak sausage chuck filet mignon pastrami.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-small">
            <div class="card-item">
              <i class="large-icon process-counter"></i>
              <h4><strong>Notification</strong></h4>
              <p>Bacon ipsum dolor amet venison tenderloin pork loin porchetta, turducken t-bone frankfurter kevin pork chop drumstick. Chuck filet mignon tail meatball jerky boudin. Beef fatback biltong spare ribs ham swine tri-tip cow strip steak sausage chuck filet mignon pastrami.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-small">
            <div class="card-item">
              <i class="large-icon process-counter"></i>
              <h4><strong>Read</strong></h4>
              <p>Bacon ipsum dolor amet venison tenderloin pork loin porchetta, turducken t-bone frankfurter kevin pork chop drumstick. Chuck filet mignon tail meatball jerky boudin. Beef fatback biltong spare ribs ham swine tri-tip cow strip steak sausage chuck filet mignon pastrami.</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 mb-small">
            <div class="card-item">
              <i class="large-icon process-counter"></i>
              <h4><strong>Log-Out</strong></h4>
              <p>Bacon ipsum dolor amet venison tenderloin pork loin porchetta, turducken t-bone frankfurter kevin pork chop drumstick. Chuck filet mignon tail meatball jerky boudin. Beef fatback biltong spare ribs ham swine tri-tip cow strip steak sausage chuck filet mignon pastrami.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- steps ends-->
